.clockcontainer{
    width: 40vw;
    height: 40vw;
    background: url('clock.png') no-repeat;
    /* background-size: cover; */
    background-size: 100%;
    position: relative;
    margin: auto;
    top: 10vh;
}
#hour,#minute,#second{
    position: absolute;
    border-radius: 10px;
    background-color: black;
    transform-origin: bottom;
}

#hour{
    height: 27%;
    width: 3.4%;
    top: 22.7%;
    left: 48.2%;
   
}
#minute {
    height: 30%;
    width: 2%;
    left: 48.8%;
    top: 20%;
}
#second{
    height: 35%;
    width: 1%;
    left: 49.5%;
    top: 15%;

}